.info {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.infoWrapper {
    display: flex;
    justify-content: space-between;
}

.movieTitle {
    align-self: center;
    font-size: 0.8em;
}

.movieImageWrapper {
    width: 25%;
}

.description {
    width: calc(75% - 15px);
}

.descriptionList {
    display: grid;
    grid-template-columns: .3fr 1fr;
    row-gap: 5px;
    margin: 0;
}

.descriptionList dd {
    margin: 0;
    margin-left: 10px;
    color: $dimmedBlue;
}
