@import './normalize';
@import './mixinMedia';
@import './variables';
@import './header';
@import './main';

body {
    background-color: $darkBlue;
    color: $lightGrey;
    font-family: Helvetica, sans-serif;
    padding-bottom: 20px;
    margin: 0 auto;
    @include desktop {
        max-width: 900px;
    }
    @include desktopL {
        max-width: 1200px;
    }
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    color: $lightGrey;
    text-decoration: none;
}

a:focus {
    outline: none;
}

img {
    width: 100%;
}

.visuallyHidden {
    position: absolute;
    appearance: none;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}
