$white: #ffffff;
$grey: #2e303e;
$lightGrey: #fefefe;
$darkGrey: #212327;
// $darkGrey: #21212a;
$black: #000000;
$blue: #124def;
$dimmedBlue: #6b77a2;
$darkBlue: #0d1520;
// $aqua: #00daf5;
$aqua: #47ade5;
$orange: #fa591b;
$red: #ff0000;
