$buttonRadius: 20px;

.submitButtonWrapper {
    text-align: center;
}

.submitButton {
    position: relative;
    margin: 0;
    padding: 5px 20px;
    background: linear-gradient(90deg, rgba(82,217,243,1) 15%, rgba(62,71,236,1) 100%);
    border: none;
    border-radius: $buttonRadius;
    color: $white;
    text-transform: uppercase;
    cursor: pointer;
    transition: all .2s linear;
}

.submitButton:hover {
    box-shadow: 0px 0px 10px 1px #183b43;
}

.submitButton:focus,
.submitButton:active {
    outline: none;

    &.submitButton::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 2;
        border-radius: $buttonRadius;
        box-shadow: 0 0 0 1px $white;
    }
}
