.seats {
    display: flex;
    flex-direction: column;
    counter-reset: seatsBeforeCounter seatsAfterCounter;
}

.seatRow {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    padding: 0 10px;
}

.seatRow:last-child {
    margin-bottom: 0;
}

.seatRow::before, .seatRow::after {
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 10px;
    height: 100%;
    font-size: 8px;
    
}

.seatRow::before {
    left: -10px;
    counter-increment: seatsBeforeCounter;
    content: counter(seatsBeforeCounter)
}

.seatRow::after {
    justify-content: flex-start;
    right: -10px;
    counter-increment: seatsAfterCounter;
    content: counter(seatsAfterCounter)
}

.seat {
    margin-right: 7px;
}

.seat:last-child {
    margin-right: 0;
}

.seatLabel {
    position: relative;
    display: block;
    width: 9px;
    height: 9px;
    border: 1px solid $aqua;
    border-radius: 3px;
    cursor: pointer;
}

.seat.--double .seatLabel {
    width: 18px;
}

.seatLabel:hover {
    background-color: transparentize($aqua, 0.9);
}

.seatCheckbox:checked + .seatLabel {
    background-color: $aqua;
    background-image: url('/assets/svg/checkMark.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.seatCheckbox:disabled + .seatLabel.--purchased {
    border-color: $darkGrey;
    background-color: $darkGrey;
}

.seatCheckbox:disabled + .seatLabel.--reserved {
    border-color: $grey;
    background-color: $grey;
}

.seatCheckbox:focus + .seatLabel{
    border-color: $white;
}

.seatsInfo {}

.seatsInfo .seatLabel {
    cursor: none;
}

.seatsInfo .seatLabel:hover {
    background-color: transparent;
}

.seatLabelInfo {
    margin: 0;
    margin-left: 12px;
    font-size: 0.5em;
    white-space: nowrap;
}
